body{
    background-color: white;
    text-align: center;
}

form{
    background-color: #510707;
    margin: auto;
    width: 30%;
    padding: 10px;
    display: grid;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

