/* nav{
    background-color: #510707;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 4px 5px 4px;
    border-radius: 5px; 
} */
